.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 5%;
}
.aboutHeader{
    text-align: center;
}
.card{
    box-shadow: 3px 3px 20px black;
}
.center{
    text-align: center;
}
.shortCenter{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
}